body {
    margin: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 防止干扰鼠标点击 */
}

.corner-text {
    position: absolute;
    color: white;
    font-size: 2vw; /* 根据屏幕宽度调整字体大小 */
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}






#map_container {
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
}

#map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18vw;
    height: 18vw;
    /* width: 30vw;
    height: 30vw; */
    border: 0.2vw solid #333;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.3);
    background: white;
    overflow: hidden;
}




 /* #map { 
    position: absolute;
    width: 100vw;
    height: 100vw;
  } */



#position {
    position: absolute;
    bottom: 19vw;
    right: 0.2vw;

    padding: 0.5vw 1vw;
    background: rgba(255, 255, 255, 0.8);
    border: 0.1vw solid #333;
    border-radius: 0.5vw;
    font-size: 1vw;
    box-shadow: 0.1vw 0.1vw 0.3vw rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* 保持一行显示，不换行 */
}
#activityType {
    position: absolute;
    bottom: 1vw;
    left:1vw
}


#speed_gauge-container {
    position: absolute;
    bottom: 32vw;
    left: -1vw;
    width: 18vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
#speed_gauge-value {
    font-size: 1.5vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 1vw;
  }
#speed_gauge {
    width: 100%;
    height: auto;
  }

  #heartrate_gauge-container {
    position: absolute;
    bottom: 18vw;
    left: -1vw;
    width: 18vw;
    height: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  #heartrate_gauge-value {
    font-size: 1.5vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 1vw;
  }
  #heartrate_gauge {
    width: 100%;
    height: auto;
  }
  .running_status{
    width: 4vw;
    height: 4vw;
    position: absolute;
    left: 1.5vw;
    top:13vw
  }
  #status_img{
    width: 100%;
    height:100%
  }
  #chart_data{
    position: absolute;
    top: 20vw;
    right: 2vw;
    width: 15vw;
    height: 10vw; 
}
.hidden {
  display: none;
}
#true_time {
  position: absolute;
  top:1.5vw;
  right:0.5vw;
  font-size: 2vw;
  font-weight: bolder;
  color: #333;
  user-select: none;
}
#date {
position: absolute;
top:0.25vw;
right:0.5vw;
font-size: 1.5vw;
color: #666;
 user-select: none;
}
#During_time{
  top: 3vw;
  right: 0.5vw;
}
#distance{
  top: 5vw;
  right: 0.5vw;
}
#altitude{
  right: 4.5vw;
  top: 30vw;
}
#altitude_datas{
  transition: transform 1s ease-in-out;
}
#slope{
  right: 4.5vw;
  top: 32vw;

}



.shape1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 6vw), -50%);
  width: 5vw;
  height: 11.43vw;
  background: linear-gradient(to top, #2ecc71 var(--percent), #e5e8e8  var(--percent));
  -webkit-mask-image: url('../img/01.svg');
  mask-image: url('../img/01.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  transition: background 0.3s;
}
.shape2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 6vw), -50%);
  width: 5vw;
  height: 11.43vw;
  background: linear-gradient(to top, #f7dc6f  var(--percent), #e5e8e8  var(--percent));
  -webkit-mask-image: url('../img/02.svg');
  mask-image: url('../img/02.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-mode: alpha;
  mask-mode: alpha;
  transition: background 0.3s;
}

#carousel {
  width: 22.5vw;
  height: 10vw; 
  overflow: hidden;
  position: absolute;
  bottom: 8vw;
  left: 18vw;
  transition: all 1s ease-in-out;
}
.carousel-images {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-images img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

