body {
    margin: 0;
    padding: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* 防止干扰鼠标点击 */
}

.corner-text {
    /* position: absolute; */
    color: white;
    font-size: 2vw; /* 根据屏幕宽度调整字体大小 */
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#total_data {
    position: absolute;
    top:2vw;
    right:1.5vw
}


.total_data_font {
    font-size: 1.5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景，便于阅读 */
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    white-space: nowrap;
}



#map_container {
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
}

#map {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18vw;
    height: 18vw;
    border: 0.2vw solid #333;
    border-radius: 0.5vw;
    box-shadow: 0.1vw 0.1vw 0.5vw rgba(0, 0, 0, 0.3);
    background: white;
    overflow: hidden;
}

#position {
    position: absolute;
    bottom: 19vw;
    right: 0.2vw;

    padding: 0.5vw 1vw;
    background: rgba(255, 255, 255, 0.8);
    border: 0.1vw solid #333;
    border-radius: 0.5vw;
    font-size: 1vw;
    box-shadow: 0.1vw 0.1vw 0.3vw rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* 保持一行显示，不换行 */
}
#activityType {
    position: absolute;
    bottom: 1vw;
    left:1vw
}


#speed_gauge-container {
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
#speed_gauge-value {
    font-size: 1.5vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 1vw;
  }
#speed_gauge {
    width: 100%;
    height: auto;
  }

  #heartrate_gauge-container {
    position: absolute;
    bottom: 5vw;
    left: 25vw;
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  #heartrate_gauge-value {
    font-size: 1.5vw;
    font-weight: bold;
    color: #333;
    margin-bottom: 1vw;
  }
  #heartrate_gauge {
    width: 100%;
    height: auto;
  }
  .running_status{
    width: 4vw;
    height: 4vw;
    position: absolute;
    right: 1.5vw;
    top:13vw
  }
  #status_img{
    width: 100%;
    height:100%
  }
  #chart_data{
    position: absolute;
    top: 20vw;
    right: 2vw;
    width: 20vw;  
    height: 10vw; 
}
.hidden {
  display: none;
}
 /* #map { 
    position: absolute;
    width: 100%; 
    height: 100%; } */

/* .top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
} */