<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@turf/turf/turf.min.js"></script>
    <title>Transparent Overlay</title>
</head>
<body>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.10.0/mapbox-gl.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gaugeJS/dist/gauge.min.js"></script>
    <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="https://unpkg.com/@turf/turf/turf.min.js"></script> -->
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <div class="corner-text hidden" id="speed">Speed: 0 km/h</div>
    <div class="corner-text hidden" id="heart_rate">Heart Rate: 0 bpm</div>






    <div id="total_data">
        <!-- <div class="total_data_font" id="true_time">true_time: 00:00:00</div> -->
        <div id="true_time">00:00:00</div>
        <div id="date">01月01日</div>
        <div class="corner-text" id="During_time">Time: 00:00:00</div>
        <div class="corner-text " id="distance">Distance: 0 km</div>
    </div>


    <div class="corner-text hidden" id="activityType" >activityType</div>
    <!-- <div class="corner-text" id="pointStatus">pointStatus</div> -->
    <!-- 状态==>是否停止 -->
    <!-- <div class="corner-text" id="cadence">cadenceCyclesPerMin</div> -->



    <div id="map_container">
        <div id="position" class="hidden">position</div>
        <div id="map"></div>
    </div>

    <div id="speed_gauge-container">
        <div id="speed_gauge-value">0</div> <!-- 这里是数值显示 -->
        <canvas id="speed_gauge"></canvas>
    </div>
    <div id="heartrate_gauge-container">
        <div id="heartrate_gauge-value">0</div> <!-- 这里是数值显示 -->
        <canvas id="heartrate_gauge"></canvas>
      </div>
    <div class="running_status">
        <img src="{{ url_for('static', filename='img/cycling.svg') }}" id="status_img">
    </div>

    <div class="corner-text" id="altitude">altitude: 100m</div>
    <div id="chart_data">

        <canvas id="myChart"></canvas>
    </div>
</body>
</html>